{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Yaniv Hatiel",
  "jobTitle": "Founder and Design Director",
  "worksFor": {
    "@type": "Organization",
    "name": "01Architecture",
    "url": "https://01architecture.com"
  },
  "url": "{{ site.Home.Permalink }}",
  "image": "{{ site.Params.assets.social_image | default "images/icon/social-preview.png" | absURL }}",
  "description": "{{ site.Params.description }}",
  "sameAs": [
    "https://www.linkedin.com/in/yanivhatiel/",
    "https://01architecture.com",
    "https://www.instagram.com/01architecture/"
  ],
  "alumniOf": [
    {
      "@type": "Organization",
      "name": "Zaha Hadid Architects"
    },
    {
      "@type": "Organization",
      "name": "Kohn Pedersen Fox (KPF)"
    },
    {
      "@type": "Organization",
      "name": "PLP Architecture"
    }
  ],
  "knowsAbout": ["Computational Design", "Architecture", "Parametric Design", "BIM", "Generative Design"]
}
</script>
{{ else if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "datePublished": "{{ .PublishDate }}",
  "author": {
    "@type": "Person",
    "name": "Yaniv Hatiel"
  }
}
</script>
{{ end }}